* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.TEXT.BLUE,
.TEXT.PINK,
.TEXT.YELLOW,
.IMG.GREEN,
.IMG.YELLOW {
	font-size: 15px;
	text-align: center;
}

// FLOAT VARIANT //

// .container {
// 	width: 75vh;
// 	height: 75vh;
// 	font-size: 0;
// }

// .TEXT.BLUE, .TEXT.YELLOW {
// 	height: 10%;
// }

// .TEXT.PINK, .IMG.GREEN, .IMG.YELLOW {
// 	width: 33.33%;
// 	height: 80%;
// }

// .TEXT {
// 	&.BLUE {
// 		background-color: aquamarine;
// 	}

// 	&.PINK {
// 		float: right;
// 		background-color: purple;
// 	}

// 	&.YELLOW {
// 		background-color: bisque;
// 	}
// }

// .IMG {
// 	&.GREEN {
// 		float: left;
// 		background-color: greenyellow;
// 	}

// 	&.YELLOW {
// 		display: inline-block;
// 		background-color: yellow;
// 	}

// }


// FLEX VARIANT //

.container {
	&.outer {
		display: flex;
		flex-direction: column;
		width: 75vh;
		height: 75vh;
	}
	&.inner {
		flex: calc(4/5);
		display: flex;
	}
}

.IMG.GREEN, .IMG.YELLOW, .TEXT.PINK {
	flex: calc(1/3);
}

.TEXT.BLUE, .TEXT.YELLOW {
	flex: calc(1/10);
}

.TEXT {
	&.BLUE {
		background-color: aquamarine;
	}
	&.PINK {
		background-color: purple;
	}
	&.YELLOW {
		background-color: bisque;
	}
}

.IMG {
	&.GREEN {
		background-color: greenyellow;
	}
	&.YELLOW {
		background-color: yellow;
	}
}