@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tg {
	border-collapse: collapse;
	border-spacing: 0;

	td,
	th {
		text-align: center;
		border-color: black;
		border-style: solid;
		border-width: 1px;
		font-family: Arial, sans-serif;
		font-size: 14px;
		overflow: hidden;
		padding: 10px 5px;
		word-break: normal;
	}
}

.selected {
	&.first {
		background-color: #288f8f;
		&:hover {
			background-color: #8f2828;
		}
	}

	&.second {
		background-color: #f5f528;
		&:hover {
			background-color: #2828f5;
		}
	}
}

.square {
	width: 200px;
	height: 200px;
	border: 5px solid #000;
	border-radius: 15%;
	mix-blend-mode: multiply;

	&.first {
		position: absolute;
		background-color: rgba(240, 181, 132, 0.95);
	}
	&.second {
		margin-top: 50%;
		margin-left: 50%;
		background-color: rgba(201, 154, 153, 0.95);
	}
}

.blocks {
	margin-top: 30px;
}